<div class="wrapper">
    <div>
        <button (click)="showMenu=!showMenu">Select Countries
            <i class="fas" [ngClass]="showMenu ? 'fa-chevron-up': 'fa-chevron-down'"> </i>
        </button>
        <div class="select__wrapper">
            <div *ngIf="showMenu" @slideUpDown>
                <button (click)="selectedCountries.clear()">deselect all</button>
                <button (click)="selectAll();">select all</button>
                <form #form="ngForm">
                    <input type="text" placeholder="Search" id="search" ngModel name="search">
                </form>

                <div class="select__items-wrapper">
                <div *ngFor="let item of selectedCountries.selected">
                    <span class="select__item far" (click)="selectedCountries.toggle(item)" [ngClass]="{ 'fa-check-square': selectedCountries.isSelected(item)}">
                    {{item.name}}</span>
                </div>
                <hr *ngIf="!selectedCountries.isEmpty() && availableCountries.length" />
                <div *ngFor="let item of availableCountries | filter:form.value.search">
                    <span class="select__item far fa-square" (click)="selectedCountries.toggle(item)"> {{item.name}} </span>
                </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content__wrapper">
        <span *ngFor="let item of selectedCountries.selected">
            <button (click)="selectedCountries.deselect(item)">{{item.name}} <i class="fa fa-trash"></i></button>
        </span>
    </div>
</div>