<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
    crossorigin="anonymous">
<button mat-raised-button color="primary" [matMenuTriggerFor]="menu">Menu {{selectedNames}}</button>
<mat-menu #menu="matMenu">
<button mat-button (click)="selectedCountries.clear();$event.stopPropagation()">deselect all</button>
<button mat-button (click)="selectAll();$event.stopPropagation()">select all</button>

    <form #form="ngForm">
        <input type="text" placeholder="Search" id="search" ngModel name="search" (click)="$event.stopPropagation();">
    </form>

    <div *ngFor="let item of selectedCountries.selected" (click)="$event.stopPropagation();">
        <span class="select__item far" (click)="selectedCountries.toggle(item);$event.stopPropagation();" [ngClass]="{ 'fa-check-square': selectedCountries.isSelected(item)}"> {{item.name}}</span>
    </div>
    <hr *ngIf="!selectedCountries.isEmpty() && availableCountries.length" />
    <div *ngFor="let item of availableCountries | filter:form.value.search" (click)="$event.stopPropagation();">
        <span class="select__item far fa-square" (click)="selectedCountries.toggle(item);$event.stopPropagation();"> {{item.name}}</span>
    </div>
</mat-menu>
