.c-select {
        overflow: hidden;
        height: 100%;
        width: 200px;
    &__wrapper {
        border: 1px solid grey;
        border-top: 0;
        padding: 10px;
    }
    &__item {
        cursor: pointer;
        padding: 10px 0 0 0;
    }
    &__items-wrapper {
        height: 400px;
        overflow: scroll;
    }
    &__selected {
        padding-bottom: 10px;
        border-bottom: 1px solid grey;
    }
    &__search {
        display: flex;
        width: 100%;
        & input {
            flex: 1;
            font-size:.8rem;
            padding:.2rem;
        }
    }
    &__actions {
        display: flex;
        justify-content: space-between;
        margin-bottom: .2rem;
        & button {
            flex: 0 0 30%;
            background-color: transparent;
            border-radius: 0;
            border: 1px solid silver;
            cursor: pointer;
            padding:.2rem;
            font-size:.8rem;
            margin: 0;
            text-align: center;
            text-decoration: none;
            white-space: nowrap;
            vertical-align: middle;
            outline-style: none;
        }
    }
}
.c-trigger {
    display: flex;
    justify-content: space-between;
    border: 1px solid grey;
    padding: 10px;
    cursor: pointer;
}
.wrapper {
    display: flex;
}
.content-wrapper {
    margin-left:30px;
    &__item {
        display:inline-block;
        border: 1px solid grey;
        padding: 10px;
        margin: 0 10px 10px 0;
        cursor: pointer;
    }
}

button { cursor: pointer; margin: 5px 5px 0 0;
}